{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}Consultorio “Rodolfo Castellón”{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'site.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon.png' %}">
    <link rel="icon" type="image/png" sizes="48x48" href="{% static 'img/favicon.png' %}">
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'img/favicon.png' %}">
    
    {% block head_extra %}{% endblock %}
  </head>
  <body>
    {% block site_nav %}{% include "_components/navbar.html" %}{% endblock %}

    <main id="contenido">
      {% include "_components/messages.html" %}
      {% block content %}{% endblock %}
    </main>

    {% include "_components/footer.html" %}
    <script src="{% static 'site.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
